{{- $user := last (splitList "\\" .chezmoi.username) -}}

{{- $work := false -}}
{{- $headless := false -}}

{{-  if eq .chezmoi.hostname "mizutsune" -}}
{{-     $headless = true -}}
{{-  else if eq .chezmoi.hostname "lagiacrus" -}}
{{-     $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "android" -}}
{{-     $headless = true -}} {{/* Only used in Termux which is headless */}}
{{- end -}}

{{- if eq $user "sschuerrle" -}}
{{-     $work = true -}}
{{- end -}}

[git]
    autoCommit = true
    autoPush = true

[data]
    username = {{ $user | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
