# vim: syntax=bash
{{ if eq .chezmoi.os "linux" -}}
##########
# LINUX #
##########
alias pacman='sudo pacman'
alias powertop='sudo powertop'
alias pycharm='pycharm . >/dev/null 2>&1 & disown'

read -r -d '' IWCTL_HELP << EOM
Quick help:
  adapter phy0 set-property Powered on
  station wlan0 scan
  station wlan0 get-networks
  station wlan0 connect <Name>
EOM

alias iwctl="echo \"$IWCTL_HELP\";iwctl"

{{ else if eq .chezmoi.os "windows" -}}
###########
# WINDOWS #
###########
export FIGNORE=".dll:.DLL:.idea:.vscode"

alias pycharm='~/.toolbox/pycharm.cmd `pwd`'
alias pwsh='pwsh -NoLogo'
alias open='explorer .'

export PATH="$PATH:/c/Program Files/Sublime Text"

{{ if eq .chezmoi.hostname "vaal-hazak" -}}
##############
# vaal-hazak #
##############
function ssha {
    eval `ssh-agent`
    ssh-add /v/.ssh/odogaron_ed25519
}

# alias subl='"C:\Program Files\Sublime Text\subl.exe"'
alias dev='cd /h/002_Mojurasu/projects'

{{ end -}}

{{ end -}}

export HISTCONTROL=ignoreboth:erasedups

export PATH="~/.cargo/bin:~/go/bin:~/.local/share/JetBrains/Toolbox/scripts:~/.local/bin:$PATH"
export EDITOR='vim'

alias ls='ls --color=auto'
alias la='ls -Aslh'
alias grep='grep --color=auto'
alias df='df -h'
alias du='du -h'
alias mkdir='mkdir -p'

alias re='rez env --fail-graph'
alias rc='rez context'
alias rb='rez build'

alias rg='rg --no-ignore'

alias cm='chezmoi'

function reencode {
    basedir=$(dirname -- "$1")
    filename=$(basename -- "$1")
    extension="${filename##*.}"
    filename="${filename%.*}"
    ffmpeg -i $1 -vcodec libx264 -crf 28 "$basedir/${filename}_reencoded.$extension"
}

if type -P promptum &> /dev/null; then
    export PROMPT_COMMAND='export RETVAL=$?'
    export PS1='`promptum`'
    export PS2=" "
fi

if [ -f ~/.bash_overrides ]; then
    source ~/.bash_overrides
fi

[ -f ~/.fzf.bash ] && source ~/.fzf.bash
