# vim: syntax=bash
##########
# LINUX #
##########
{{ if eq .chezmoi.os "linux" -}}
alias pacman='sudo pacman'
alias powertop='sudo powertop'
alias pycharm='pycharm . >/dev/null 2>&1 & disown'

read -r -d '' IWCTL_HELP << EOM
Quick help:
  adapter phy0 set-property Powered on
  station wlan0 scan
  station wlan0 get-networks
  station wlan0 connect <Name>
EOM

alias iwctl="echo \"$IWCTL_HELP\";iwctl"
alias dc='docker compose'
alias dcup='docker compose up -d'

###########
# WINDOWS #
###########
{{ else if eq .chezmoi.os "windows" -}}
export FIGNORE=".dll:.DLL:.idea:.vscode"

alias pycharm='~/.toolbox/pycharm.cmd `pwd`'
alias pwsh='pwsh -NoLogo'
alias open='explorer .'
alias agent='pwsh ~/AppData/Local/cursor-agent/agent.ps1'

export PATH="$PATH:/c/Program Files/Sublime Text"


##############
# vaal-hazak #
##############
{{ if eq .chezmoi.hostname "vaal-hazak" -}}

alias dev='cd /h/002_Mojurasu/projects'

function __get_last_recording_5ebbeaf3 {
   find "$1" -maxdepth 1 -type f -name "*.mkv" -printf "%T@ %p\n" | sort -n | awk '{last=$0} END {print last}' | cut -d' ' -f2-
}

function rcl {
    recordings_dir='/e/Libraries/Videos/Recordings'
    reencode $(__get_last_recording_5ebbeaf3 $recordings_dir)
}

function __get_reencoding_target_path_ba3101ca {
    basedir=$(dirname -- "$1")
    filename=$(basename -- "$1")
    filename="${filename%.*}"
    echo "$basedir/${filename}_$2.$3"
}

function __move_orginal_file_into_subfolder_c74bd2f3 {
    basedir=$(dirname -- "$1")
    filename=$(basename -- "$1")
    mkdir -p "$basedir/original"
    mv "$1" "$basedir/original/$filename"
}

function __get_video_length_timecode {
    echo $(ffprobe -v error -sexagesimal -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 "$1")
}


function reencode_cpu {
    outputpath=$(__get_reencoding_target_path_ba3101ca "$1" "reencoded_cpu" "mp4")
    ffmpeg -i $1 -vcodec libx264 -crf 23 "$outputpath"
}

function reencode {
    length=$(__get_video_length_timecode "$1")
    echo "Video Length: $length"

    outputpath=$(__get_reencoding_target_path_ba3101ca "$1" "reencoded" "mp4")

    acount=$(ffprobe -v error -select_streams a -show_entries stream=index -of csv=p=0 "$1" | wc -l)

    if [ "$acount" -lt 1 ]; then
        ffmpeg -hwaccel cuda -i "$1" -c:v h264_nvenc -preset:v p7 -tune:v hq -rc:v vbr -cq:v 26 -b:v 0 -profile:v high -an "$outputpath" && __move_orginal_file_into_subfolder_c74bd2f3 "$1"
        exit
    fi

    ffmpeg -hwaccel cuda -i "$1" -c:v h264_nvenc -preset:v p7 -tune:v hq -rc:v vbr -cq:v 26 -b:v 0 -profile:v high -filter_complex "amerge=inputs=$acount" -ac 2 "$outputpath" && __move_orginal_file_into_subfolder_c74bd2f3 "$1"
}

function reencode_mute {
    length=$(__get_video_length_timecode $1)
    echo "Video Length: $length"
    outputpath=$(__get_reencoding_target_path_ba3101ca "$1" "reencoded" "mp4")
    ffmpeg -hwaccel cuda -i $1 -c:v h264_nvenc -preset:v p7 -tune:v hq -rc:v vbr -cq:v 26 -b:v 0 -profile:v high "$outputpath" && __move_orginal_file_into_subfolder_c74bd2f3 "$1"

}


function reencode_silent {
    outputpath=$(__get_reencoding_target_path_ba3101ca "$1" "reencoded_silent" "mp4")
    ffmpeg -an -hwaccel cuda -i $1 -c:v h264_nvenc -preset:v p7 -tune:v hq -rc:v vbr -cq:v 26 -b:v 0 -profile:v high "$outputpath"

}

convert_image() {
    local input="$1"
    local output="$2"

    if [[ -z "$input" || -z "$output" ]]; then
        echo "Usage: convert_image <input> <output>" >&2
        return 1
    fi

    if [[ ! -f "$input" ]]; then
        echo "Error: input file '$input' not found" >&2
        return 1
    fi

    magick convert "$input" \
        -depth 8 \
        -resize 1200x1200\> \
	-type TrueColor \
	-strip -quality 95 \
        PNG8:"$output"
}


{{ end -}}

{{ end -}}

export HISTCONTROL=ignoreboth:erasedups

export PATH="~/.cargo/bin:~/go/bin:~/.local/share/JetBrains/Toolbox/scripts:~/.local/bin:$PATH"
export EDITOR='vim'

alias ls='ls --color=auto'
alias la='ls -Aslh'
alias grep='grep --color=auto'
alias df='df -h'
alias du='du -h'
alias mkdir='mkdir -p'

alias re='rez env --fail-graph'
alias rc='rez context'
alias rb='rez build'

alias rg='rg --no-ignore'

alias cm='chezmoi'

simple_prompt() {
    unset PROMPT_COMMAND
    export PS1='\n\w\n\u@\h \$ '
}

__build_prompt(){
    export RETVAL=$?
    PS1="$(promptum)"
}

if type -P promptum &> /dev/null; then
    export PROMPT_COMMAND='__build_prompt'
    export PS2=" "
fi

[ -f ~/.bash_overrides ] && source ~/.bash_overrides
[ -f ~/.fzf.bash ] && source ~/.fzf.bash || true
